/*font-family: "Kameron", serif;
font-family: "Overlock", cursive;
font-family: "Pacifico", cursive;*/
body {
  background-color: #f0ddd7;
}
h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 50px;
}
h2 {
  text-align: center;
  font-family: "Overlock", cursive;
}
h3 {
  font-family: "Overlock", cursive;
  text-align: center;
}
