/*font-family: "Kameron", serif;
font-family: "Overlock", cursive;
font-family: "Pacifico", cursive;*/
:root {
  --bg-color: #cec2b8;
  --btn-color: #84754e;
  --heading-font-family: "Pacifico", cursive;
  --subtitle-font-family: "Kameron", serif;
}
body {
  background-color: var(--bg-color);
  font-style: var(--subtitle-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}
.homepage-title p {
  font-family: "Overlock", cursive;
  font-size: 24px;
  margin: 0;
}

.homepage-title h2 {
  text-align: center;
  font-family: var(--subtitle-font-family);
  font-size: 36px;
}

.homepage-title {
  background-color: #f0ddd7;
  text-align: center;
  padding: 100px 20px;
}

.info-btn {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  border-radius: 1px;
  font-family: "Kameron", serif;
  margin: 10px;
  padding: 12px 20px;
}
a.info-btn:hover {
  color: black;
  background-color: #cec2b8;
  border-color: var(--btn-color);
}
.homepage-pic {
  max-width: 500px;
  margin-bottom: 10px;
  margin-top: 10px;
}
img {
  border-radius: 1000px;
}

.about-p {
  background-color: #718085;
}
