/*font-family: "Kameron", serif;
font-family: "Overlock", cursive;
font-family: "Pacifico", cursive;*/

h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
}
h2 {
  text-align: center;
  font-family: "Kameron", serif;
}
p {
  font-family: "Overlock", cursive;
}
